name: python-test

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - "*"

defaults:
  run:
    working-directory: ./python

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.14"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Download Hadoop
        run: |
          wget -q https://dlcdn.apache.org/hadoop/common/hadoop-3.4.2/hadoop-3.4.2-lean.tar.gz
          tar -xf hadoop-3.4.2-lean.tar.gz -C $GITHUB_WORKSPACE
          echo "$GITHUB_WORKSPACE/hadoop-3.4.2/bin" >> $GITHUB_PATH

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - uses: PyO3/maturin-action@v1
        with:
          command: develop
          sccache: 'true'
          container: 'off'
          working-directory: ./python

      - name: Run lints
        run: |
          uv sync
          uv run ty check
          uv run ruff check .
          uv run ruff format . --check --diff

      - name: Run tests
        run: |
          uv run pytest

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.14

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - uses: PyO3/maturin-action@v1
        with:
          command: develop
          sccache: 'true'
          container: 'off'
          working-directory: ./python

      - name: Build docs
        run: |
          uv sync --group docs
          uv run sphinx-build -M html docs/source/ docs/build/

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Build wheel
        uses: PyO3/maturin-action@v1
        with:
          args: --release --out dist --find-interpreter --manifest-path python/Cargo.toml
          sccache: 'true'
          manylinux: auto

      - name: Upload wheels
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v5
        with:
          name: wheels
          path: dist
