name: rust-test

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - "*"

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@stable

      - name: Format
        run: cargo fmt -- --check

  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - name: build and lint with clippy
        run: cargo clippy --all-targets --features integration-test,benchmark -- -D warnings

      - name: Check docs
        run: cargo doc

      - name: Check no features
        run: cargo check --tests

      - name: Check all features
        run: cargo check --all-targets --features integration-test,benchmark

      - name: Run unit tests
        run: cargo test -p hdfs-native --lib

  test-integration:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    env:
      # Disable full debug symbol generation to speed up CI build and keep memory down
      # "1" means line tables only, which is useful for panic tracebacks.
      RUSTFLAGS: -C debuginfo=1
      RUST_BACKTRACE: "1"
      RUST_LOG: debug

    steps:
      - uses: actions/checkout@v5

      - name: Install minimal stable with clippy and rustfmt
        uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Install native libs
        run: sudo apt-get install -y libkrb5-dev krb5-user

      - name: Download Hadoop
        run: |
          wget -q https://dlcdn.apache.org/hadoop/common/hadoop-3.4.2/hadoop-3.4.2-lean.tar.gz
          tar -xf hadoop-3.4.2-lean.tar.gz -C $GITHUB_WORKSPACE
          echo "$GITHUB_WORKSPACE/hadoop-3.4.2/bin" >> $GITHUB_PATH

      - name: Run tests
        run: cargo test --features integration-test
