name: rust-test

on:
  push:
    branches:
      - '*'
  # pull_request:
  #   branches:
  #     - "*"

defaults:
  run:
    working-directory: ./rust

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Format
        run: cargo fmt -- --check

  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          # - macos-11
          # - windows-latest
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - uses: Swatinem/rust-cache@v2

      - name: Install native libs
        run: sudo apt-get install -y libkrb5-dev libgsasl-dev

      # - name: build and lint with clippy
      #   run: cargo clippy --tests

      - name: Check docs
        run: cargo doc

      - name: Check no features
        run: cargo check
      
      - name: Check kerberos
        run: cargo check --features kerberos

      - name: Check token
        run: cargo check --features token

      - name: Check object_store
        run: cargo check --features object_store

      - name: Check all features
        run: cargo check --features kerberos,token,object_store,rs,integration-test

  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          # - macos-11
          # - windows-latest
    runs-on: ${{ matrix.os }}
    env:
      # Disable full debug symbol generation to speed up CI build and keep memory down
      # "1" means line tables only, which is useful for panic tracebacks.
      RUSTFLAGS: -C debuginfo=1
      RUST_BACKTRACE: "1"
      RUST_LOG: debug

    steps:
      - uses: actions/checkout@v3

      - name: Install minimal stable with clippy and rustfmt
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - uses: Swatinem/rust-cache@v2

      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Install native libs
        run: sudo apt-get install -y libkrb5-dev libgsasl-dev krb5-user

      - name: Download Hadoop
        run: |
          wget -q https://dlcdn.apache.org/hadoop/common/hadoop-3.3.6/hadoop-3.3.6.tar.gz
          tar -xf hadoop-3.3.6.tar.gz -C $GITHUB_WORKSPACE
          echo "$GITHUB_WORKSPACE/hadoop-3.3.6/bin" >> $GITHUB_PATH

      - name: Run tests
        run: cargo test --features kerberos,token,object_store,integration-test,rs -- --test-threads=1
